#header #search {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background: red; */
    position: absolute;
    top: 13px;
    left: 1018px;
    background: url(../image/sprite.png) no-repeat -66px -104px;
    cursor: pointer;}