.section .title {
    height: 74px;
    line-height: 74px;
    font-size: 36px;
    font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
    text-align: center;
    color: #636363;
}

.section.section-green .title{
    color: #fff;
}