*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html body .all{
    position: relative;
    height: 1000px;
}
/* 头部 */
html body .all .all-two{
    width: 100%;
    height: 100%;
}
.all .top {
    width: 100%;
    background-color: #2ef1e1;
    padding: 2px;
}
.all .navigation{
    width: 100%;
    border: 1px solid #aaa;
    
}
.all .navigation .header{
    margin: 0 auto;
    width: 1200px;
    height: 48px;
}
.all .navigation .header span {
    font-size: 22px;
}
.all .navigation .header ul{
    display: inline-block;
    margin-right: 300px;
}
.all .navigation .header ul li{
    float: left;
    margin-top: 10px;

}
.all .navigation .header ul li a:hover{
    color: #2ef1e1;
}
.all .navigation .header ul li a{
    text-decoration: none;
    padding-left: 45px;
    color: #333;
    font-style: normal;
    font-weight: normal;

}
/* 左导航条 */
.bottom{
    position: relative;
    width: 1150px;
    margin: 0 auto;
}
.bottom .leftb{
    position: absolute;
    width: 100px;
    margin-top: 10px;
}
.bottom .leftb {
    border: 1px solid #2ef1e1;
    width: 141px;
    height: 440px;
    border-radius: 3px;
}
.bottom .leftb ul{
    margin-left: 2px;
    margin-top: 5px;
}
.bottom .leftb ul li a{
    text-decoration: none;
    text-align: center;
    color:#333;
    font-size: larger;
    height: 40px;
    line-height: 42px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:11px 30px;
}
.bottom .leftb ul li a:hover{
    background-color:#2ef1e1;
    color :#fff;
}
.bottom .leftb ul li a.hot{
    padding:11px 20px;

}
.bottom .leftb ul li a.pep{
    padding:11px 10px;
}
.bottom .leftb ul li a.story{
    padding: 11px 0px;
}
.bottom .leftb ul li a.ab{
    padding: 11px 23px;
}
.bottom .centerb{
    width: 500px;
}
.bottom .centerb img{
    overflow: hidden;
    width: 500px;
    position: relative;
    margin-left: 120px;
    margin-top: 5px;
}
/* 登录
.bottom .register{
    float: right;
    width: 350px;
    height: 300px;
    background-color: #f2f2f5;
    margin-top: -284px;
    margin-right:170px;
}
.bottom .register .bord{
    border: #000 solid 1px;
    width: 310px;
    height: 250px;
    margin-top: 10px;
    margin-left: 15px;
}
.bottom .register .bord a {
    display:inline-block;
    margin-left: 40px;
    margin-right: 10px;
    margin-top:10px;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}
.bottom .register .bord a:hover{
   color: #2ef1e1;

}
.bottom .register .bord .one{
    width: 280px;
    height: 35px;
    margin-left: 5px;
    margin-top: 15px;
}
.bottom .register .bord .double{
    margin-left: 5px;
    margin-top: 15px;    
}
.bottom .register .bord button{
    width: 280px;
    height: 40px;
    margin-left: 5px;
    background: #2ef1e1;
    border: 0;
    margin-top: 3px;
    margin-bottom: 5px;
    
}
.bottom .register .bord button span{
    font-size: 18px;
    color: #fff;
}
 */
 .word{
     position: absolute;
     border: 1px solid #333;
     width: 1000px;
     height: 700px;
     margin-top: 10px;
     margin-left: 142px;
 }
 .word p{
     text-indent: 2em;
     font-weight: lighter;
     margin-top: 10px;
     
 }
 /* .word p:nth-of-type(2){
     margin-top: 10px;
 }
 .word p:nth-of-type(3){
    margin-top: 10px;
} */
